header {
    text-align: center;
    padding: 20px;
}

table, th, td {
    text-align: center;
}

#totalSpot {
    float: right;
}

.addButton {
    float: right;
    margin: 5px;
}

.deleteButton {
    float: right;
    margin-top: 5%;
}

.red {
    background-color: rgb(143, 48, 48);
    color: white
}


/* .input {
    align-items: center;
} */